// color palette - these colors will be the color swatches of the Colors section

$color-1: #0076B6; // Star Command Blue - Action color
$color-2: #343A40; // Gunmetal
$color-3: #BDC667; // Middle Green Yellow
$color-4: #525352; // Davys Gray
$color-5: #F2F3D9; // Beige