@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


//Variables Example
//Colors
$header-h1-color: #faebd7;
$header-nav-color: #faebd7;
$header-nav-color-hover: white;

body{
    background-color: #faebd7;
    font-family: Helvetica, Arial, sans-serif;
}
header{
    background-color: #6495ED;
    margin: none;
    
 
}
.post-date {
    font-family: 'Lora', serif;
    color:gray;
}
header h1 a {
    font-family: 'Lora', serif;
    text-decoration: none;
    font: normal;
    color: $header-h1-color;
}
article {
    background-color: white;

}
//Nesting Example
    header nav ul li {
    list-style-type: none;
    font: normal;
    list-style: none;
    text-align: right;
    text-decoration: none;
    a:active, a:visited {
        color: $header-nav-color;
                    }
    a:hover {
        color:$header-nav-color-hover;
        text-decoration: underline;
    }
}
/* SMALL SCREEN SETTINGS */
@media (min-width:0em) and (max-width:30em)
{

    main article {
        background-color: white;
        margin: 1em;
        padding-top: 1em;
    }

    
    
}
    
//MIXIN Example
@mixin column {
    float: left;
    position: absolute;
    display: grid;
    width: 230px;
    height: 100%;
    padding-left: 1em;
    padding-right: 1em;

}

/* LARGE SCREEN SETTINGS */
@media (min-width:30em)
{
    header {
       @include column;       

    }
    header h1 a {
        font-family: 'Lora', serif;
        text-decoration: none;
        font: normal;
        color: $header-h1-color;
        font-size: 38px;
        text-align: right;
        
    }
    main {
        float: right;
        position:absolute;
        margin-left: 16.5em;
    }
    article {
        margin: 3em;
    }
    article section h2, figure {
        text-align: center;
    }
}









