//variables will follow

//colors
$body-background-color: darkred;
$form-background-color: white;
$input-color: white;
$headlines-color : white;

// Responsive
$break-small: 32.5em;
$break-large: 70em;

// Center Mixin
@mixin center($width, $max-width: 960px) {
    width: 90%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

body {
    background-color: $body-background-color;          
}

#contactform {
    background-color: $form-background-color;
    input, textarea {
        background-color: $input-color;
        flex: 2;
    }
    #content {
        @include center(90%);
    }

}